<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.al.equipmentguide">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Azur Lane Equipment Guide"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.al.equipmentguide.FactionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.al.equipmentguide.CategoryActivity"
            android:label="Ship Category"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.ROCActivity"
            android:label="Dragon Empery Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.ROCEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.ROCActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.USSActivity"
            android:label="Eagle Union Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.CategoryActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.USSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.USSActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.FFNFActivity"
            android:label="Iris Libre Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.FFNFEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FFNFActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.KMSActivity"
            android:label="Ironblood Ships"
            android:launchMode="singleTop">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value="com.al.equipmentguide.CategoryActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.KMSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.KMSActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.SNActivity"
            android:label="Northern Parliament Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.SNEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.SNActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.HMSActivity"
            android:label="Royal Navy Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.CategoryActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.HMSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.HMSActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.IJNActivity"
            android:label="Sakura Empire Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.CategoryActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.IJNEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.IJNActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.RNActivity"
            android:label="Sardegna Empire Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.RNEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.RNActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.MNFActivity"
            android:label="Vichya Dominion Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.FactionActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.MNFEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.al.equipmentguide.MNFActivity"/>
        </activity>

        <activity android:name="com.al.equipmentguide.AboutActivity"
            android:label="About"
            android:launchMode="singleTop">
        </activity>

        <activity android:name="com.al.equipmentguide.CreditsActivity"
            android:label="Credits"
            android:launchMode="singleTop">
        </activity>

        <activity android:name="com.al.equipmentguide.NotesActivity"
            android:label="Notes"
            android:launchMode="singleTop">
        </activity>
    </application>

</manifest>