<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.azurlaneguide">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".FactionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".CategoryActivity"
            android:label="Ship Category"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".ROCActivity"
            android:label="Dragon Empery Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".ROCEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".ROCActivity"/>
        </activity>

        <activity android:name=".USSActivity"
            android:label="Eagle Union Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity"/>
        </activity>

        <activity android:name=".USSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".USSActivity"/>
        </activity>

        <activity android:name=".FFNFActivity"
            android:label="Iris Libre Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".FFNFEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FFNFActivity"/>
        </activity>

        <activity android:name=".KMSActivity"
            android:label="Ironblood Ships"
            android:launchMode="singleTop">
        <meta-data android:name="android.support.PARENT_ACTIVITY"
            android:value=".CategoryActivity"/>
        </activity>

        <activity android:name=".KMSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".KMSActivity"/>
        </activity>

        <activity android:name=".SNActivity"
            android:label="Northern Parliament Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".SNEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".SNActivity"/>
        </activity>

        <activity android:name=".HMSActivity"
            android:label="Royal Navy Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".CategoryActivity"/>
        </activity>

        <activity android:name=".HMSEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".HMSActivity"/>
        </activity>

        <activity android:name=".RNActivity"
            android:label="Sardegna Empire Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".RNEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".RNActivity"/>
        </activity>

        <activity android:name=".MNFActivity"
            android:label="Vichya Dominion Ships"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".FactionActivity"/>
        </activity>

        <activity android:name=".MNFEquipmentActivity"
            android:launchMode="singleTop">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value=".MNFActivity"/>
        </activity>

        <activity android:name=".AboutActivity"
            android:label="About"
            android:launchMode="singleTop">
        </activity>

    </application>

</manifest>